<div class="text container d-flex flex-column">
    <div>
        <p class="text">Nielit Exam Quora&#9997;</p>
    </div>
    <div>
        <h5 class="line-1 anim-typewriter ">"Find and Post previous year </h5>
        <h5 class="line-1 anim-typewriter "> questions asked in Nielit Exams"</h5>
    </div>
</div>