<form action="/search" method="POST" class="d-flex w-75" >
    <input type="text" class="form-control" placeholder="Type to search ...." name="querry">
    <input type="submit" value="Search" class="btn btn-primary mt-2 mx-2">
    <input type="reset" value="Clear" class="btn btn-default text-white">
</form>