<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/404.css">
    <link rel="icon" type="image/png" href="/images/nieliticon.png">
    <title>Page Not Found | 404</title>
</head>

<body>
    <div>
        <a href="/" style="color: red; font-size: 1.5rem;">Return To My Home</a>
    </div>
    <div class="error">
        <div class="wrap">
            <div class="404">
                <span class="orange"></span> 
            </div>
            <span class="info"></span>
            
        </div>
    </div>
</body>

</html>