<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head.ejs')%>
        <title>Nielit Exam Quora</title>
    <style>
        .messagebox{
            box-shadow: 0px 0px 10px 0px rgb(0, 110, 255);
            border-radius: 15px;
            height: 55vh;
            color: rgb(0, 0, 0);
            overflow-y: auto;
            margin-bottom: 1rem;
            overscroll-behavior-y: contain;
            scroll-snap-type: y proximity;
        }
        .messagebox > div:last-child {
            scroll-snap-align:end;
        }
        .message{
            background-color: rgb(30, 99, 246);
            max-width: 50%;
            padding: 10px;
            margin: 10px 15px 5px 15px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgb(0, 140, 255);
            caret-color: transparent;
            word-wrap: break-word;
        }
        .left{
            float: left;
            clear: both;
          
        }
        .right{
            float: right;
            clear: both;
            
        }
        .send-form{
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="fixed">
            <%-include('partials/header.ejs')%>
            <%-include('partials/profilesec/profilenav.ejs')%>
    </div>
    <div class="container">
        <div class="d-flex flex-column">
            <div style="margin-top: 16rem;">
                    
                    <div class="messagebox fw-bold " id="messagebox">
                        <!-- Messages -->
                    </div>
                    <div class="send-form mb-4">
                        <form action="#" class="d-flex flex-row" id="send">
                            <textarea type="text" class="form-control" name="msginput" id="msginput"  rows="1"></textarea>
                            <button class="btn btn-primary mx-1" type="submit">Send</button>
                        </form>
                    </div>                 
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var audio=new Audio('/notify.mp3');
        const socket=io('');
        const form=document.getElementById('send');
        const msginput=document.getElementById('msginput');
        const messagebox=document.querySelector('.messagebox');

        const append=(msg,position)=>{
            const msgelement=document.createElement('div');
            msgelement.innerText= msg;
            msgelement.classList.add('message');
            msgelement.classList.add(position);
            messagebox.append(msgelement);
            if(position== 'left'){
                audio.play();
            }
        }

        socket.on('Init',(name)=>{
            append(`Welcome ${name} to the live discussion Messages will be broadcasted to live users only`,'right');
        })

        const name=`<%=username%>`;
        socket.emit('new-user-joined',name);

        socket.on('user-joined',name => {
            append(`${name} joined the chat`,'left');
        });

        socket.on('receive',data=>{
            append(`${data.name} :: ${data.message}`, 'left' );
        });
        form.addEventListener('submit',(e)=>{
            e.preventDefault();  //to stop reloading of page on form submit
            const message= msginput.value;
            append(`You :: ${message}`,'right');
            socket.emit('send',message);
            msginput.value="";
        })

        socket.on('leftchat',name=>{
            append(`${name} left the chat`,'left');
        })
    </script>
</body>

</html>