<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Nielit Exam Quora</title>
</head>
<body>
    <div class="fixed">
        <%-include('partials/header.ejs')%>
        <%-include('partials/profilesec/profilenav.ejs')%>
        <hr class=" bar">
    </div>  
    <div class="container">
        <div class="d-flex flex-column">
            <div style="margin-top: 21rem; margin-bottom: 2rem;">
                <form method="POST" action="/savequestion" class="row g-3  fs-4" style="color: mediumturquoise;">
                    <div class="col-md-12">
                      <label for="question" class="form-label">Question</label>
                      <input type="textarea" class="form-control" id="question" name="question" placeholder="Enter Question...">
                    </div>
                    <div class="col-md-5">
                      <label for="keywords" class="form-label">keywords</label>
                      <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Minimum 1 keyword is required ,Seperate keywords with comma(,) ">
                    </div>
                    <div class="col-md-2">
                      <label for="subject" class="form-label">Subject</label>
                      <select id="subject" class="form-select"  name="subject">
                        <option value=""></option>
                        <option value="computer system architecture">computer system architecture</option>
                        <option value="system analysis design">system analysis design</option>
                        <option value="Data structure">Data structure</option>
                        <option value="Information Technology Tools and Network Basics">Information Technology Tools and Network Basics</option>
                        <option value="Web Designing & Publishing">Web Designing & Publishing</option>
                        <option value="Programming and Problem Solving through Python">Programming and Problem Solving through Python</option>
                        <option value="IoT">IOT</option>
                        <option value="Operating system">Operating system</option>
                        <option value="Database Technologies">Database Technologies</option>
                        <option value="Web Application using PHP">Web Application using PHP</option>
                        <option value="Full Stack Web Application using MVC">Full Stack Web Application using MVC</option>
                        <option value="Network Management">Network Management</option>
                        <option value="Information Security Management">Information Security Management</option>
                        <option value="Artificial Intelligence Concepts and R
                        Programming">Artificial Intelligence Concepts and R
                        Programming</option>
                        <option value="Data Science using Python">Data Science using Python</option>
                        <option value="Big Data Analytics using Hadoop">Big Data Analytics using Hadoop</option>
                        <option value="Machine Learning Using Python">Machine Learning Using Python</option>
                      </select>
                    </div>
                    <div class="col-md-1">
                      <label for="questiontype" class="form-label">Type</label>
                      <select name="questiontype" id="questiontype" class="form-select">
                        <option value=""></option>  
                        <option value="objective">Objective</option>
                          <option value="subjective">Subjective</option>
                          <option value="truefalse">True/False</option>
                      </select>  
                    </div>
                    <div class="col-md-2">
                      <label for="examasked" class="form-label">Exam Asked</label>
                      <select name="examasked" id="examasked" class="form-select">
                          <option value=""></option>
                          <option value="O level">O level</option>
                          <option value="A level">A level</option>
                          <option value="B level">B level</option>
                          <option value="C level">C level</option>
                          <option value="CCC level">CCC</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label for="yearasked" class="form-label">Year Asked</label>
                        <input type="number" name="yearasked" id="yearasked" class="form-control" minlength="4">
                    </div>
                    <div class="col-md-12">
                        <label for="answer" class="form-label">Answer</label>
                        <textarea name="answer" id="answer" rows="10" class="form-control" placeholder="Type in your answer....(Ignore to only post question)"></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Post Question</button>
                      <button type="clear" class="btn btn-default text-white">Clear</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>