<div class="nav float-end">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color:bisque ">&#x2630;</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/postquestion">Post Question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/searchquestion">Search Question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/livediscussion">Live Discussion</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Logout
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="nav-link " aria-current="page" href="/logout">Logout</a>
                            </li>
                            <li>
                                <a class="nav-link " aria-current="page" href="/logoutall">Logout of all device</a>                            
                            </li>
                        </ul>
                      </li>
                </ul>
            </div>
        </div>
    </nav>
</div>